
<!DOCTYPE html>

<html lang="en">
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" >
</head>
<body>
     <div class="main-content">
    {{>header}}
    <p>This site was created by Roman Karki. It uses data from weather stack api.</p>
    <img class = "portrait" src="/img/roman.png">
    </div>
    {{>footer}}


</body>
</html>